/*
   Created by Mohamed Essam 11/27/18
*/
body{
    background:linear-gradient(to right ,  lightblue , lightgray);
    height: 100%;
    position: abslute;
    margin-left: 20%;
    margin-top: 1%;
}
#container{
    width: 60%;
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;

}
.registration_form
{
background-color:white;
border: 1px solid rgb(189, 199, 216);
border-radius:5px;
font-family:Helvetica, Arial, sans-serif;
font-size:18px;
font-weight:400;
outline-color:rgb(77, 144, 254);
padding-bottom:8px;
padding-top:8px;
padding-left:10px;
padding-right:10px;
margin:6px;
}
#submit{
  font-size: 30px;
  margin-left: 50%;
  color: black;
  background: white;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border:  1px solid #ff5722;
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#submit:hover{
    cursor: pointer;
    background: #ff5722;
    color: #f8f8f8;
    transition: 1s;
}
.error{
    background: linear-gradient(to right ,  lightblue , lightgray);
    position: absolute;
    margin-left: 25%;
    margin-top: -30%;
    border: 1px solid red;
    width: 20.5%;
    height: 53%;
}
#un{
    margin-top: 0px;
    padding-left: 4%;
}
#fn{
    margin-top: 52px;
    padding-left: 4%;
}
#ln{
    margin-top: 45px;
    padding-left: 4%;
}
#em{
    margin-top: 45px;
    padding-left: 4%;
}
#pa{
    margin-top: 45px;
    padding-left: 4%;
}
#pa1{
    margin-top: 45px;
    padding-left: 4%; 
}

